:root {
    /* Colors */
    --dark-green: #479654;
    --med-green: #082213;
}

body {
  margin: 40px auto;
  padding: 0 10px;
  background-color: var(--dark-green);
  color: var(--med-green);
  max-width: 650px;
  font-family: 'FantasqueSansMonoRegular', monospace;
  font-size: 18px;
  line-height: 1.6;
}

h1, h2, h3 { line-height: 1.2; }

h1 { margin: 60px 0 10px; }

h2 { margin: 20px 0 10px; }

h3 { margin: 30px 0 10px; }

nav { margin: 35px 0 10px; }

a { color: var(--med-green); }

code {
  padding: 2px;
  background-color: var(--med-green);
  color: var(--dark-green);
}

p { margin: 10px 0 20px; }
